
# Exercício - Compras de Ecommerce  

Neste exercício, você receberá alguns dados falsos sobre algumas compras feitas pela Amazon! Basta seguir as instruções e tente dar melhor para responder as perguntas e completar as tarefas. Sinta-se a vontade para dar uma olhada nas soluções. A maioria das tarefas pode ser resolvida de diferentes maneiras. Para a maior parte, as perguntas ficam cada vez mais difíceis.

Peço desculpas desde já por todos dados que não parecerem muito reais. São todos falsos.

Observe também que todas essas questões podem ser respondidas com uma linha de código.
____
** Importe pandas e leia o arquivo csv "Ecommerce Purchases" e configure-o para um DataFrame chamado ecom. **

In [1]:
import pandas as pd

In [2]:
ecom = pd.read_csv('Ecommerce Purchases.csv')

**Verifique o "head" do DataFrame.**

In [3]:
ecom.head(1)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14

** Quantas linhas e colunas existem? **

In [4]:
ecom.info()
# 10000 linhas e 14 colunas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** Qual é o preço de compra médio? **

In [5]:
ecom.columns = [c.replace(' ', '_') for c in ecom.columns]
ecom.Purchase_Price.mean()

50.347302

In [6]:
ecom.head()

,Address,Lot,AM_or_PM,Browser_Info,Company,Credit_Card,CC_Exp_Date,CC_Security_Code,CC_Provider,Email,Job,IP_Address,Language,Purchase_Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** Quais foram os preços de compra mais altos e mais baixos? **

In [7]:
ecom.sort_values(by=['Purchase_Price']).Purchase_Price
# 0.00 e 99.99

5487     0.00
2876     0.00
6863     0.01
8656     0.02
2783     0.02
        ...
3844    99.93
7604    99.95
9856    99.97
7807    99.99
2092    99.99
Name: Purchase_Price, Length: 10000, dtype: float64

** Quantas pessoas têm Inglês 'en' como sua língua de escolha no site? **

In [8]:
ecom.groupby(['Language']).get_group("en").Language.count()

1098

** Quantas pessoas têm o cargo de "Advogado"? **

In [14]:
ecom.groupby(['Job']).get_group("Lawyer").Job.count()

30

** Quantas pessoas fizeram a compra durante a AM e quantas pessoas fizeram a compra durante o PM? **

** (Sugestão: Confira [value_counts ()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) **

In [15]:
am_count = ecom.groupby(['AM_or_PM']).get_group("AM").AM_or_PM.count()
pm_count = ecom.groupby(['AM_or_PM']).get_group("PM").AM_or_PM.count()

print(am_count, pm_count)

4932 5068

** Quais são os 5 títulos de trabalho mais comuns? **

In [59]:
ecom.groupby(['Job']).Job.count().sort_values(ascending=False).head(5)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

** Alguém fez uma compra que veio do Lot: "90 WT", qual foi o preço de compra para esta transação? **

In [70]:
filter = ecom['Lot']=="90 WT"
ecom.where(filter).dropna().Purchase_Price

513    75.1
Name: Purchase_Price, dtype: float64

** Qual é o email da pessoa com o seguinte número do cartão de crédito: 4926535242672853 **

In [78]:
filter = ecom.Credit_Card==4926535242672853
ecom.loc[ecom.Credit_Card.where(filter).dropna().index].Email
# nao tem

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** Quantas pessoas têm o American Express como seu fornecedor de cartão de crédito * e * fizeram uma compra acima de US $ 95? **

In [79]:
filter = ecom['Purchase_Price']>95
ecom.groupby(['CC_Provider']).get_group("American Express").where(filter).dropna().Purchase_Price.count()

39

In [81]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM_or_PM          10000 non-null  object
 3   Browser_Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit_Card       10000 non-null  int64
 6   CC_Exp_Date       10000 non-null  object
 7   CC_Security_Code  10000 non-null  int64
 8   CC_Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP_Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase_Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** Difícil: quantas pessoas tem um cartão de crédito que expira em 2025? **

In [105]:
ecom['expires_in_25'] = ecom.CC_Exp_Date.apply(lambda x: x.split('/')[1] == '25')
ecom.expires_in_25.where(ecom.expires_in_25 == True).dropna().count()

1033

** Difícil: quais são os 5 principais provedores de e-mail / hosts mais populares (por exemplo, gmail.com, yahoo.com, etc ...) **

In [109]:
ecom['domain_email'] = ecom.Email.apply(lambda x: x.split('@')[1])
ecom.groupby(['domain_email']).domain_email.count().sort_values(ascending=False).head(5)

domain_email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: domain_email, dtype: int64