
# Exercício - Compras de Ecommerce  

Neste exercício, você receberá alguns dados falsos sobre algumas compras feitas pela Amazon! Basta seguir as instruções e tente dar melhor para responder as perguntas e completar as tarefas. Sinta-se a vontade para dar uma olhada nas soluções. A maioria das tarefas pode ser resolvida de diferentes maneiras. Para a maior parte, as perguntas ficam cada vez mais difíceis.

Peço desculpas desde já por todos dados que não parecerem muito reais. São todos falsos.

Observe também que todas essas questões podem ser respondidas com uma linha de código.
____
** Importe pandas e leia o arquivo csv "Ecommerce Purchases" e configure-o para um DataFrame chamado ecom. **

In [ ]:
import pandas as pd

In [ ]:
ecom = pd.read_csv('Ecommerce Purchases')

**Verifique o "head" do DataFrame.**

In [ ]:
ecom.head(1)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14

[1 rows x 14 columns]

** Quantas linhas e colunas existem? **

In [ ]:
ecom.info()
# 10000 linhas e 14 colunas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** Qual é o preço de compra médio? **

In [ ]:
ecom.columns = [c.replace(' ', '_') for c in ecom.columns]
ecom.Purchase_Price.mean()

50.34730200000025

** Quais foram os preços de compra mais altos e mais baixos? **

In [ ]:
ecom.sort_values(by=['Purchase_Price']).Purchase_Price
# 0.00 e 99.99

5487     0.00
2876     0.00
6863     0.01
8656     0.02
2783     0.02
        ...
3844    99.93
7604    99.95
9856    99.97
7807    99.99
2092    99.99
Name: Purchase_Price, Length: 10000, dtype: float64

** Quantas pessoas têm Inglês 'en' como sua língua de escolha no site? **

In [ ]:
ecom.groupby(['Language']).get_group("en").Language.count()

1098

** Quantas pessoas têm o cargo de "Advogado"? **

In [ ]:
ecom.groupby(['Job']).get_group("Lawyer").Job.count()

30

** Quantas pessoas fizeram a compra durante a AM e quantas pessoas fizeram a compra durante o PM? **

** (Sugestão: Confira [value_counts ()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) **

In [ ]:
am_count = ecom.groupby(['AM_or_PM']).get_group("AM").AM_or_PM.count()
pm_count = ecom.groupby(['AM_or_PM']).get_group("PM").AM_or_PM.count()

print(am_count, pm_count)

4932 5068

** Quais são os 5 títulos de trabalho mais comuns? **

In [ ]:
# entendi nao

** Alguém fez uma compra que veio do Lot: "90 WT", qual foi o preço de compra para esta transação? **

In [ ]:
filter = ecom['Lot']=="90 WT"
ecom.where(filter).dropna().Purchase_Price

513    75.1
Name: Purchase_Price, dtype: float64

** Qual é o email da pessoa com o seguinte número do cartão de crédito: 4926535242672853 **

In [ ]:
filter = ecom.Credit_Card=="4926535242672853"
ecom.Credit_Card.where(filter).dropna()
# nao tem

Series([], Name: Credit_Card, dtype: float64)

** Quantas pessoas têm o American Express como seu fornecedor de cartão de crédito * e * fizeram uma compra acima de US $ 95? **

In [ ]:
filter = ecom['Purchase_Price']>95
ecom.groupby(['CC_Provider']).get_group("American Express").where(filter).dropna().Purchase_Price.count()

39

** Difícil: quantas pessoas tem um cartão de crédito que expira em 2025? **

** Difícil: quais são os 5 principais provedores de e-mail / hosts mais populares (por exemplo, gmail.com, yahoo.com, etc ...) **